%p.lead.text-white= I18n.t('rules_page.title')
%p.lead.text-white= I18n.t('rules_page.description')
%hr.mb-4/
%a.btn.btn-primary.btn-lg{href: Router::ROUTES[:main], role: "button"}= I18n.t('button.menu')
